<!DOCTYPE html>

<html>
    <head>
        <title>Validation and Hashing tutorial</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    </head>
    <body> 
        <div class="header">
           <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/register">Register</a></li>
           </ul>
        </div>
        {{{body}}}
    </body>
</html>